      <!-- css -->
      <link rel="stylesheet" href="css/foundation.css" />
      <link rel="stylesheet" href="css/flexslider.css"  />
      <link rel="stylesheet" href="css/megamenu.css" />
      <link rel="stylesheet" href="css/dol-style.css" />
             
      <script src="js/modernizr.js"></script>
      <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
      <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
      <![endif]-->
      
      <script type="text/javascript" src="js/scripts.js"></script><!-- Scripts for the dropdown megamenu and flexslider -->
      <script src="js/jquery.flexslider.js"></script><!-- Scripts for the highlights banner -->
      <script><!-- Scripts for the dropdown megamenu especially for the smart phone -->
         $(document).ready(function($){
             $('.megamenu').megaMenuCompleteSet({
                 menu_speed_show : 300, // Time (in milliseconds) to show a drop down
                 menu_speed_hide : 200, // Time (in milliseconds) to hide a drop down
                 menu_speed_delay : 200, // Time (in milliseconds) before showing a drop down
                 menu_effect : 'open_close_fade', // Drop down effect, choose between 'hover_fade', 'hover_slide', 'open_close_fade' etc.
                 menu_click_outside : 1, // Clicks outside the drop down close it (1 = true, 0 = false)
                 menu_show_onload : 0, // Drop down to show on page load (type the number of the drop down, 0 for none)
                 menu_responsive:1 // 1 = Responsive, 0 = Not responsive
             });
         });
      </script>
      <!-- Hook up the FlexSlider -->
      <script type="text/javascript" charset="utf-8">
        // Can also be used with $(document).ready()
					$(window).load(function() {
					$('.flexslider').flexslider({
					animation: "slide"
							});
					});
      </script>
      <!-- End scripts for the dropdown megamenu  -->
    