<!-- Start Footer One -->
<div role="contentinfo">
<div class="row footer-one">
  <div class="large-5 columns hide-for-small"> <a href="/"> <img src="homepage/img/dol-logo-white.png" alt="DOL's seal"/> <span class="header-logo-type-white">UNITED STATES <br>
    DEPARTMENT OF LABOR </span> </a> </div>
  <div class="large-3 columns">
    <p class="footer-info1 a-bottom"><a href="/dol/jobs.htm">Career</a> & <a href="/oasam/programs/internship/index.htm">Internships</a> | <a href="/dol/contact/">Contact Us </a></p>
  </div>
  <div class="large-4 columns">
    <div class="social-block-btm mt"> 
    <a href="/cgi-bin/leave-dol.asp?exiturl=http://www.facebook.com/departmentoflabor&exitTitle=www.Facebook.com&fedpage=no"  class="sm-facebook">Facebook</a> 
    <a href="/cgi-bin/leave-dol.asp?exiturl=http://twitter.com/usdol&exitTitle=www.Twitter.com&fedpage=no" class="sm-twitter">Twitter</a> 
    <a href="/cgi-bin/leave-dol.asp?exiturl=http://www.instagram.com/USDOL&exitTitle=www.instagram.com/USDOL&fedpage=no" class="sm-instagram">DOL Instagram</a> 
    <a href="/cgi-bin/leave-dol.asp?exiturl=https://plus.google.com/100916454633789293104/about/&exitTitle=plus.google.com&fedpage=no" class="sm-gplus">Google Plus</a> 
    <a href="/cgi-bin/leave-dol.asp?exiturl=http://www.linkedin.com/company/u.s.-department-of-labor&exitTitle=www.linkedin.com/company/u.s.-department-of-labor&fedpage=no"" class="sm-in">LinkedIn</a> 
    <a href="/rss/" class="sm-rss-btm">RSS</a> 
    <a href="javascript:window.open('http://service.govdelivery.com/service/multi_subscribe.html?code=USDOL','Popup','width=800,height=500,toolbar=no,scrollbars=yes,resizable=yes'); void('');"
				 ONCLICK="window.status='Subscribe'; return true"
				 ONMOUSEOVER="window.status='Subscribe'; return true"
				 ONMOUSEOUT="window.status=''; return true" class="sm-email-btm">Email</a></div>
  </div>
</div>
<!-- End Footer One -->
 
<!-- Start Footer Two -->
<div class="row footer-two" role="navigation">
  <div class="large-3 columns line-b-peach">
    <p class="footer-info1a">200 Constitution Ave. NW<br>
      Washington DC 20210<br>
      1-866-4-USA-DOL<br>
      <a href="/dol/contact/contact-phonecallcenter.htm">TTY</a><br>
      <a href="/">www.dol.gov </a> </p>
  </div>
  <div class="large-3 columns line-b-peach">
    <p class="footer-info1a"><strong>ABOUT THE SITE</strong></p>
    <ul>
      <li><a href="/dol/foia/">Freedom of Information Act</a></li>
      <li><a href="/dol/privacynotice.htm">Privacy &amp; Security Statement</a></li>
      <li><a href="/dol/disclaim.htm">Disclaimers</a></li>
      <li><a href="/dol/aboutdol/website-policies.htm">Important Web Site Notices</a></li>
      <li><a href="/dol/aboutdol/plug-ins.htm">Plug-ins Used by DOL</a></li>
      <li><a href="/rss/">RSS Feeds from DOL</a></li>
      <li><a href="/dol/aboutdol/accessibility.htm">Accessibility Statement</a></li>
    </ul>
  </div>
  <div class="large-3 columns line-b-peach">
    <p class="footer-info1a"><strong>LABOR DEPARTMENT</strong></p>
    <ul>
      <li><a href="/dol/topic/Spanish-speakingTopic.htm">Espa&ntilde;ol</a></li>
      <li><a href="/dol/siteindex.htm">A to Z Index</a></li>
      <li><a href="/dol/organization.htm">Agencies</a></li>
      <li><a href="http://www.oig.dol.gov/">Office of Inspector General</a></li>
      <li><a href="/dol/contact/contact-phonekeypersonnel.htm">Leadership Team</a></li>
      <li><a href="/dol/contact/">Contact Us</a></li>
      <li><a href="https://public.govdelivery.com/accounts/USDOL/subscriber/new?topic_id=USDOL_167", onclick="window.open('https://public.govdelivery.com/accounts/USDOL/subscriber/new?topic_id=USDOL_167&pop=t', '', 'scrollbars=1,toolbar=0,menubar=0,resizable=1,width=800,height=384');return false;">Subscribe to the DOL Newsletter</a></li>
      <li><a href="/_sec/newsletter/">Read The DOL Newsletter</a></li>
      <li><a href="/easl/">Emergency Accountability Status Link</a></li>
    </ul>
  </div>
  <div class="large-3 columns">
    <p class="footer-info1a">FEDERAL GOVERNMENT</p>
    <ul>
      <li><a href="/cgi-bin/leave-dol.asp?exiturl=http://www.whitehouse.gov&exitTitle=www.whitehouse.gov&fedpage=yes">White House</a></li>
      <li><a href="/cgi-bin/leave-dol.asp?exiturl=https://www.healthcare.gov&exitTitle=www.healthcare.gov&fedpage=yes">Affordable Care Act</a></li>
      <li><a href="/opa/disaster-recovery.htm">Disaster Recovery Assistance</a></li>
      <li><a href="/cgi-bin/leave-dol.asp?exiturl=http://www.usa.gov&exitTitle=www.usa.gov&fedpage=yes">USA.gov</a></li>
      <li><a href="/cgi-bin/leave-dol.asp?exiturl=https://www.disability.gov&exitTitle=wwww.disability.gov&fedpage=yes">Disability.gov</a></li>
      <li><a href="/dol/PlainWriting/">Plain Writing Act</a></li>
      <li><a href="/recovery/">Recovery Act</a></li>
      <li><a href="/oasam/programs/crc/NoFearResult.htm">No Fear Act</a></li>
    </ul>
  </div>
</div>
<!-- End Footer Two --> 
	<!--Footer End -->


</div><!--Main End -->

  </BODY>
</HTML>
