<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML> 
<HEAD> 
<TITLE>U.S. Department of Labor -- The Department of Labor Developer Community {{ page.title }}</TITLE>
<META NAME="keywords" CONTENT="Department of Labor, DOL, Secretary of Labor" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="http://www.dol.gov/favicon.ico" type="image/x-icon">
<link rel="icon" href="http://www.dol.gov/favicon.ico" type="image/x-icon">
<style type="text/css">
<!--
caption {text-align:left; font-size:80%}
table{margin-left:12px;}


-->
</style>


      <link rel="stylesheet" href="css/foundation.css" />
      <link rel="stylesheet" href="css/flexslider.css"  />
      <link rel="stylesheet" href="css/megamenu.css" />
      <link rel="stylesheet" href="css/dolstyle2.css" />
		<link rel='stylesheet' href='site.css' type='text/css' media='screen' />
             <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      <script src="js/modernizr.js"></script>
      <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
      <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
      <![endif]-->
 		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script type="text/javascript" src="prettify.js"></script>
<script language="JavaScript" type="text/javascript">

	jQuery(document).ready(function(){

		// This line of code makes code pretty to look at and understand.
		window.prettyPrint && prettyPrint()
	
	});
	


</script>
     
    
		<!--- End  CSS and JavaScript -->  

</HEAD> 
<BODY class="hp"> 
<div class="wrapper">
	<div class="hide"> <a href="#maincontent">Skip to Main Content</a> </div>
<!--Start Banner --> 
<a name="top"></a>
	<div class="row top-header" role="banner">
      <div class="large-6 columns"> <a href="/"> <span class="brand"></span>
        <h1 class="header-logo-type">UNITED STATES <br>
          DEPARTMENT OF LABOR </h1>
        </a> </div>
      <div class="large-2 columns">
      	<div class="social-block right hide-for-small"> <a href="/cgi-bin/leave-dol.asp?exiturl=http://www.facebook.com/departmentoflabor&exitTitle=www.Facebook.com&fedpage=no"  class="sm-facebook">Facebook</a> 
        <a href="/cgi-bin/leave-dol.asp?exiturl=http://twitter.com/usdol&exitTitle=www.Twitter.com&fedpage=no" class="sm-twitter">Twitter</a> 
        <a href="/cgi-bin/leave-dol.asp?exiturl=http://www.instagram.com/USDOL&exitTitle=www.instagram.com/USDOL&fedpage=no" class="sm-instagram">DOL Instagram</a> 
        <a href="/rss/" class="sm-rss">RSS</a> 
        <a href="javascript:window.open('http://service.govdelivery.com/service/multi_subscribe.html?code=USDOL','Popup','width=800,height=500,toolbar=no,scrollbars=yes,resizable=yes'); void('');"
				 ONCLICK="window.status='Subscribe'; return true"
				 ONMOUSEOVER="window.status='Subscribe'; return true"
				 ONMOUSEOUT="window.status=''; return true" class="sm-email">Email</a>
		</div>
	</div>
      <div class="large-4 columns">
        <div id="searchbox">
          <form action="//search.usa.gov/search" method="get" class="usagov" role="search">
            <div class="small-10 columns">
              <input type="search" name="query" placeholder="Find it in DOL" title="Find it in DOL" required="required" >
            </div>
            <div class="small-2 columns">
              <input type="hidden" name="affiliate" value="developer">
              <input type="image"  src="homepage/img/icon-search.png"  vspace="4"  alt="Search DOL" class="usagov-submit">
            </div>
          </form>
        </div>
      </div>
</div>    
	<!--Header End -->

<div class="row">
  <div class="large-6 columns">

	<!--Body Start -->
       <div id="content" role="main">
            <a name="maincontent"></a>
	
			<div id="pagecontent" style="width:768px;font-size:0;line-height:0;"></div>
{{ content }}
</div>
</div>


<!-- END CONTENT HERE  *************************************************** -->
<!---original location of this file: "/includes/" -->


	</div><!--Body End -->

 </div></div>

	<!--Footer Start -->
<!-- Start Footer One -->
<div role="contentinfo">
<div class="row footer-one">
  <div class="large-5 columns hide-for-small"> <a href="/"> <img src="homepage/img/dol-logo-white.png" alt="DOL's seal"/> <span class="header-logo-type-white">UNITED STATES <br>
    DEPARTMENT OF LABOR </span> </a> </div>
  <div class="large-3 columns">
    <p class="footer-info1 a-bottom"><a href="/dol/jobs.htm">Career</a> & <a href="/oasam/programs/internship/index.htm">Internships</a> | <a href="/dol/contact/">Contact Us </a></p>
  </div>
  <div class="large-4 columns">
    <div class="social-block-btm mt"> 
    <a href="/cgi-bin/leave-dol.asp?exiturl=http://www.facebook.com/departmentoflabor&exitTitle=www.Facebook.com&fedpage=no"  class="sm-facebook">Facebook</a> 
    <a href="/cgi-bin/leave-dol.asp?exiturl=http://twitter.com/usdol&exitTitle=www.Twitter.com&fedpage=no" class="sm-twitter">Twitter</a> 
    <a href="/cgi-bin/leave-dol.asp?exiturl=http://www.instagram.com/USDOL&exitTitle=www.instagram.com/USDOL&fedpage=no" class="sm-instagram">DOL Instagram</a> 
    <a href="/cgi-bin/leave-dol.asp?exiturl=https://plus.google.com/100916454633789293104/about/&exitTitle=plus.google.com&fedpage=no" class="sm-gplus">Google Plus</a> 
    <a href="/cgi-bin/leave-dol.asp?exiturl=http://www.linkedin.com/company/u.s.-department-of-labor&exitTitle=www.linkedin.com/company/u.s.-department-of-labor&fedpage=no"" class="sm-in">LinkedIn</a> 
    <a href="/rss/" class="sm-rss-btm">RSS</a> 
    <a href="javascript:window.open('http://service.govdelivery.com/service/multi_subscribe.html?code=USDOL','Popup','width=800,height=500,toolbar=no,scrollbars=yes,resizable=yes'); void('');"
				 ONCLICK="window.status='Subscribe'; return true"
				 ONMOUSEOVER="window.status='Subscribe'; return true"
				 ONMOUSEOUT="window.status=''; return true" class="sm-email-btm">Email</a></div>
  </div>
</div>
<!-- End Footer One -->
 
<!-- Start Footer Two -->
<div class="row footer-two" role="navigation">
  <div class="large-3 columns line-b-peach">
    <p class="footer-info1a">200 Constitution Ave. NW<br>
      Washington DC 20210<br>
      1-866-4-USA-DOL<br>
      <a href="http://www.dol.gov/dol/contact/contact-phonecallcenter.htm">TTY</a><br>
      <a href="http://www.dol.gov/">www.dol.gov </a> </p>
  </div>
  <div class="large-3 columns line-b-peach">
    <p class="footer-info1a"><strong>ABOUT THE SITE</strong></p>
    <ul>
      <li><a href="http://www.dol.gov/dol/foia/">Freedom of Information Act</a></li>
      <li><a href="http://www.dol.gov/dol/privacynotice.htm">Privacy &amp; Security Statement</a></li>
      <li><a href="http://www.dol.gov/dol/disclaim.htm">Disclaimers</a></li>
      <li><a href="http://www.dol.gov/dol/aboutdol/website-policies.htm">Important Web Site Notices</a></li>
      <li><a href="http://www.dol.gov/dol/aboutdol/plug-ins.htm">Plug-ins Used by DOL</a></li>
      <li><a href="http://www.dol.gov/rss/">RSS Feeds from DOL</a></li>
      <li><a href="http://www.dol.gov/dol/aboutdol/accessibility.htm">Accessibility Statement</a></li>
    </ul>
  </div>
  <div class="large-3 columns line-b-peach">
    <p class="footer-info1a"><strong>LABOR DEPARTMENT</strong></p>
    <ul>
      <li><a href="http://www.dol.gov/dol/topic/Spanish-speakingTopic.htm">Espa&ntilde;ol</a></li>
      <li><a href="http://www.dol.gov/dol/siteindex.htm">A to Z Index</a></li>
      <li><a href="http://www.dol.gov/dol/organization.htm">Agencies</a></li>
      <li><a href="http://www.oig.dol.gov/">Office of Inspector General</a></li>
      <li><a href="http://www.dol.gov/dol/contact/contact-phonekeypersonnel.htm">Leadership Team</a></li>
      <li><a href="http://www.dol.gov/dol/contact/">Contact Us</a></li>
      <li><a href="https://public.govdelivery.com/accounts/USDOL/subscriber/new?topic_id=USDOL_167", onclick="window.open('https://public.govdelivery.com/accounts/USDOL/subscriber/new?topic_id=USDOL_167&pop=t', '', 'scrollbars=1,toolbar=0,menubar=0,resizable=1,width=800,height=384');return false;">Subscribe to the DOL Newsletter</a></li>
      <li><a href="http://www.dol.gov/_sec/newsletter/">Read The DOL Newsletter</a></li>
      <li><a href="http://www.dol.gov/easl/">Emergency Accountability Status Link</a></li>
    </ul>
  </div>
  <div class="large-3 columns">
    <p class="footer-info1a"><strong>DEVELOPERS</strong>
    <ul>
      <li><a href="http://developer.dol.gov">Developer Portal &amp; Datasets</a></li>
      <li><a href="beginners-guide.html">Beginner's Guide</a></li>
      <li><a href="https://devtools.dol.gov/developer">Manage Your API Keys</a></li>
      <li><a href="https://devtools.dol.gov/apisampler">API Data Sampler</a></li>
      <li><a href="code.html">Open Source Code</a></li>
      <li><a href="code.html#sdks">SDKs</a></li>
      <li><a href="changelog.html">Change Log</a></li>
      <li><a href="http://github.com/USDepartmentofLabor/Swift-Federal-Data-SDK">Fork This SDK</a></li>
    </ul>
  </div>
</div>
<!-- End Footer Two --> 
	<!--Footer End -->


</div><!--Main End -->

  </BODY>
</HTML>

